{% extends 'base.html.twig' %}

{% block body %}
    {% for post in posts %}
    <h3><a href="{{ path('show') }}">{{ post.title }}</a></h3>
    <div class="mb-3">
        <a href="{{ path('edit') }}" class="btn btn-primary">Edit</a>
        <form class="d-inline" action="" method="POST">
            <input type="submit" value="Delete!" class="btn btn-primary">
        </form>
    </div>
    {% endfor %}
{% endblock %}