{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    {% for post in posts %}
    <h3><a href="{{ path('show', {'id': post.id}) }}">{{ post.title }}</a></h3>
    <div class="mb-3">
        <a href="{{ path('edit', {'id': post.id}) }}" class="btn btn-primary">Edit</a>
        <a href="{{ path('delete', {'id': post.id}) }}" class="btn btn-danger">Delete</a>
    </div>
    {% endfor %}
{% endblock %}